@model CpEditorial.Models.ProfileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

</head>
<body>
    @{
        Html.RenderPartial("NavigationBar");
    }

    <div class="row" style="margin:130px 30px 80px 30px;">

        <div class="col-md-3" style="text-align:center;">
            <img src="~/Image/Icon/profileicon.png" height="140" width="140" />
            <h5 style="margin-top:30px;">@Session["userName"]</h5>
            <p>Point gain: @Model.Point</p>
        </div>

        <div class="col-md-9">
            @* Bookmark part *@
            @if (Model.bookmarkList.Count > 0)
            {
                <div class="bigBlock">
                    <h4>Bookmark</h4>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                            @for (int i = 0; i < Model.bookmarkList.Count; i++)
                            {
                                <div class="single-blog-post post-style-4 d-flex align-items-center">
                                    <div class="post-content">
                                        <a href="../Editorial/ViewEditorial?id=@Model.bookmarkList[i].EditorialID" class="headline">
                                            <h5>@Model.bookmarkList[i].ProblemTitle</h5>
                                            <p style="height:50px;">@Model.bookmarkList[i].Solution</p>
                                        </a>

                                        <div class="post-meta" style="display:flex;">
                                            <p style="margin-right:20px;"><a href="#" onclick="remove('@Model.bookmarkList[i].BookMarkID')">Remove</a></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @* User posted editorial *@
            @if (Model.myEditorialList.Count > 0)
            {
                <div class="bigBlock">
                    <h4>My Editorial</h4>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                            <!-- Bokmarked editorials -->
                            @for (int i = 0; i < Model.myEditorialList.Count; i++)
                            {
                                <div class="single-blog-post post-style-4 d-flex align-items-center">
                                    <div class="post-content" style="margin-bottom:0px;">
                                        <a href="../Editorial/ViewEditorial?id=@Model.myEditorialList[i].EditorialID" class="headline">
                                            <h5>@Model.myEditorialList[i].ProblemTitle</h5>
                                            <p style="height:50px;">@Model.myEditorialList[i].Solution</p>
                                        </a>

                                        <div class="post-meta" style="display:flex;">
                                            <p style="margin-right:20px;"><a href="/Editorial/PostForm?eid=@Model.myEditorialList[i].EditorialID">Edit</a></p>
                                            <p><a href="#" onclick="myFunction('@(Model.myEditorialList[i].EditorialID)')">Delete</a></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @* Involved by comment on editorial *@
            @if (Model.InvolvmentEditorialList.Count > 0)
            {
                <div class="bigBlock">
                    <h4>Involvement</h4>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                            @for (int i = 0; i < Model.InvolvmentEditorialList.Count; i++)
                            {
                                <div class="single-blog-post post-style-4 d-flex align-items-center">
                                    <div class="post-content">
                                        <a href="../Editorial/ViewEditorial?id=@Model.InvolvmentEditorialList[i].EditorialID" class="headline">
                                            <h5>@Model.InvolvmentEditorialList[i].ProblemTitle</h5>
                                            <p style="height:50px;">@Model.InvolvmentEditorialList[i].Solution</p>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }

    <script>
        function myFunction(eid) {
            if (confirm('Are you sure about delete this editorial?')) {
                
                var a = parseInt(eid);
                window.location.href = '@Url.Action("Delete", "Editorial")/' + a;

            } else {
                // Do nothing!
            }
        }

        function remove(bid) {
            if (confirm('Are you sure about delete this editorial?')) {
                
                var a = parseInt(bid);
                window.location.href = '@Url.Action("RemoveBookmark", "Editorial")/' + a;

            }
        }
    </script>

</body>
</html>
