@model CpEditorial.Models.PostFormModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post an editorial</title>
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

</head>
<body>
    @{
        Html.RenderPartial("NavigationBar");
    }

    <div class="container">
        <div class="row" style="margin: 90px 0;">
            <!--
            Each post has three parts
                1) rephrasing the question: optional part. users will state the question in their own language.
                2) quick explanation: main and compulsory part. user will give a summary of their solution
                3) detailed explanation: optional part. for more complicated problems, user will add a detailed explanation of the solution.
            -->
            <div class="postEditorial col-md-10" style="margin:0 auto;">
                <h2>
                    Post an editorial
                </h2>
                <p>
                    <b>We are glad to see you here!</b>
                    Posting a good editorial can improve your rating.
                    However, if you are confused about how you can write a great editorial,
                    you can follow
                    <a href="https://discuss.codechef.com/t/what-makes-a-good-codechef-editorial/2774">this blog</a>.
                </p>
                @using (Html.BeginForm("AddEditorial", "Editorial"))
                {
                    <div class="postEditorialForm">

                        @*Problen Name & Online judge selection*@
                        <div style="display:flex;">
                            <div class="pl-0 col-md-6">
                                <label for="ProblemTitle">Problem Title</label> <br />
                                @Html.TextBoxFor(Model => Model.ProblemTitle, new { @class = "form-control", @required = true })
                            </div>

                            <div class="pl-0 col-md-6">
                                <label for="OJID">Online Judge</label> <br />
                                @Html.DropDownListFor(model => model.OJID, new SelectList(Model.ojList, "id", "value"), "Select OJ",new {@class = "from-control"})
                            </div>
                        </div>

                        @* Problem URL & Tags *@
                        <div style="display:flex;">
                            <div class="pl-0 col-md-6">
                                <label for="ProblemCode">Problem Code (If have any)</label> <br />
                                @Html.TextBoxFor(Model => Model.ProblemCode, new { @class = "form-control" })
                            </div>

                            @* Tags *@
                            <div class="pl-0 col-md-6">
                                <label for="TagID">Tag (Required)</label> <br />
                                @Html.DropDownListFor(model => model.TagID, new SelectList(Model.tagList, "id", "value"), "Select Tag", new { @class = "from-control" })
                            </div>
                        </div>

                        @* Rephrase Question *@
                        <label for="Rephrase">Would you like to rephrase the question? </label>
                        <a onclick="hideFunction('hideRQOption', 'hideRQ')" id="hideRQOption" href="#hideRQOption">More details..</a>
                        <p id="hideRQ" style="display:none;">
                            Problem statements often contains some tricky lines that can confuse anyone and it can also have
                            some minor requirements that many people can miss. And so it will be much easier for readers to
                            understand your solution if you state the problem statement in simpler and straightforward language
                            and/or point out the minor requirements that people can miss. You can skip this part if the question
                            is already simple enough.
                        </p>
                        @Html.TextAreaFor(Model => Model.Rephrase, new { @class = "form-control", @rows = 7 })

                        @* Explanation of solution *@
                        <label for="Solution">Give a quick explanation of your solution</label>
                        <a onclick="hideFunction('hideESOption', 'hideES')" id="hideESOption" href="#hideESOption">More details..</a>
                        <p id="hideES" style="display:none;">
                            It is always nice to see the entire solution at one stretch.
                            It gives reader an overview of what to do, where they might have failed,
                            how to get the whole thing, all in one picture. However, if the solution
                            is small enough, you can write just the solution in this section.
                        </p>
                        @Html.TextAreaFor(Model => Model.Solution, new { @class = "form-control", @rows = 7, @required = true })

                        @* Extra details *@
                        <label for="Details">Give a detailed explanation if necessary</label>
                        <a onclick="hideFunction('hideDEOption', 'hideDE')" id="hideDEOption" href="#hideDEOption">More details..</a>
                        <p id="hideDE" style="display:none;">
                            If your solution is quite large, use this section
                            to provide the detailed explanation of your solution.
                        </p>
                        @Html.TextAreaFor(Model => Model.Details, new { @class = "form-control", @rows = 7 })

                        <button type="submit" class="btn world-btn">@ViewBag.buttonName</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }


    <script>
        function hideFunction(IDOption, textID) {
            var x = document.getElementById(textID);

            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById(IDOption).textContent = "[Hide details..]";
            }
            else {
                x.style.display = "none";
                document.getElementById(IDOption).textContent = "[More details..]";
            }
            var x = document.getElementById(IDOption);
            x.style.color = "#8d8d8d";
        }

    </script>

</body>
</html>
