@model CpEditorial.Models.ViewEditorialModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Editorial</title>
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>

    @*NavBer*@
    @{
        Html.RenderPartial("NavigationBar");
    }

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-content mb-100">

                        <!-- Post Meta -->
                        <div class="post-meta" style="display:flex;">
                            <!-- vote -->
                            <div style="margin-right:20px;">
                                <div>
                                    <a href="/Editorial/Vote?v=upvote&eid=@Model.editorial.editorialId&euid=@Model.editorial.userId" class="triangle-up" id="upV"></a>
                                </div>

                                <p style="text-align:center; padding:5px; margin-top:25px;">@(Model.editorial.upvote - Model.editorial.downvote)</p>

                                <div style="margin-top:25px;">
                                    <a href="/Editorial/Vote?v=downvote&eid=@Model.editorial.editorialId&euid=@Model.editorial.userId" class="triangle-down" id="downV"></a>
                                </div>
                            </div>

                            <div style="margin-top:25px;">
                                <h3>@Model.problem.title</h3>
                                <p><a href="#" class="post-author">@Model.user.userName</a> on @Model.editorial.dateOfPublishing</p>
                            </div>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">

                            <h6>@Model.editorial.rephrase</h6> <br />
                            <h6>@Model.editorial.solution</h6> <br />
                            <h6>@Model.editorial.details</h6>

                            <!-- Post Tags -->
                            <ul class="post-tags">
                                @{
                                    for (int i = 0; i < Model.editorialTags.tagList.Count; i++)
                                    {
                                        <li><a href="#">@Model.editorialTags.tagList[i].text</a></li>
                                    }
                                }
                                @*<li><a href="#">@Model.TagName</a></li>*@
                            </ul>
                        </div>

                        @*==== Comment section ====*@
                        @*Post a comment*@
                        <div class="post-a-comment-area mt-50">
                            <!-- Contact Form -->
                            <div class="row">
                                @{
                                    Session["editorialId"] = Model.editorial.editorialId;
                                    using (Html.BeginForm("PostComment", "Editorial"))
                                    {
                                        <div class="col-12">
                                            <div class="group">
                                                <label for="message">Enter your comment</label>
                                                <textarea name="message" id="message" cols="45" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn world-btn">Post comment</button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
  
                        @*View comment*@
                        @for (int i = 0; i < Model.commentList.Count; i++)
                        {
                            <div class="col-12 col-lg-12 ml-0">
                                <!-- Comment Area Start -->
                                <div class="comment_area clearfix mt-70">
                                    <ol>
                                        <!-- Single Comment Area -->
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content">
                                                <!-- Comment Meta -->
                                                <div class="comment-meta d-flex align-items-center justify-content-between">
                                                    <p><a href="#" class="post-author">@Model.user.getUserNameOnly(Model.commentList[i].userId)</a> on <a href="#" class="post-date">@Model.commentList[i].dateOfPublishing</a></p>
                                                    <Button href="#" class="btn world-btn">Reply</Button>
                                                </div>
                                                <p>@Model.commentList[i].text</p>
                                            </div>
                                            <!-- Reply section -->
                                            @*<a onclick="hideFunction('hideRQOption', 'hideRQ')" id="hideRQOption" href="#hideRQOption">More details..</a>*@
                                            @if (Model.replyList[i].Count > 0)
                                            {
                                                <a onclick="hideFunction('hideRQOption', 'hideDE')" id="hideRQOption" href="#hideRQOption">View @Model.replyList[i].Count replies</a>
                                                <div id="hideDE" style="display:none;">
                                                    @for (int j = 0; j < Model.replyList[i].Count; j++)
                                                    {
                                                        <ol class="children">
                                                            <li class="single_comment_area">
                                                                <!-- Comment Content -->
                                                                <div class="comment-content">
                                                                    <!-- Comment Meta -->
                                                                    <div class="comment-meta d-flex align-items-center justify-content-between">
                                                                        <p><a href="#" class="post-author">@Model.user.getUserNameOnly(Model.replyList[i][j].userId)</a> on <a href="#" class="post-date">@Model.replyList[i][j].dateOfPublishing</a></p>
                                                                    </div>
                                                                    <p>@Model.replyList[i][j].text</p>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    }
                                                </div>
                                            }
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="post-sidebar-area mb-100">
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">About CpEditorial</h5>
                            <div class="widget-content">
                                <p>Cp-Editorial is a platform for the competitive programmers where they can share or gain knowledge related to competitive programming</p>
                            </div>
                        </div>
                        <!-- Widget Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Footer*@
    @{
        Html.RenderPartial("Footer");
    }

    @if (ViewBag.Error != null)
    {
        <script>
            alert("@ViewBag.Error");
        </script>
    }

    <script>
        function hideFunction(OptionDiv, ReplyDiv) {
            var x = document.getElementById(ReplyDiv);
            x.style.display = "block";

            document.getElementById(OptionDiv).style.display = "none";
        }

        var voteColor = @Model.voteStatus;
        if (voteColor == 1) {
            document.getElementById("upV").style.borderBottom = "30px solid #51BBA8";
        }
        else if (voteColor == 2) {
            document.getElementById("downV").style.borderTop = "30px solid #FF2E38";
        }

    </script>

</body>
</html>
